@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-navy-900 text-gray-100;
  }
}

.hero-text {
  @apply font-serif italic text-5xl md:text-6xl lg:text-7xl font-medium tracking-wide;
}

.gradient-text {
  @apply bg-gradient-to-r from-blue-400 to-cyan-300 bg-clip-text text-transparent;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 60s linear infinite; /* Slowed down the animation */
}

/* Add styles for page transitions */
.page-transition {
  @apply transition-opacity duration-300;
}

.page-enter {
  @apply opacity-0;
}

.page-enter-active {
  @apply opacity-100;
}

.page-exit {
  @apply opacity-100;
}

.page-exit-active {
  @apply opacity-0;
}